/*h1 {
    font-family: 'Amatic SC', cursive;
}
h2 {
    font-family: 'Kaushan Script', cursive;
}
h3 {
    font-family: 'Coming Soon', cursive;
}
div {
    font-family: 'Courgette', cursive;
}
p {
    font-family: 'Handlee', cursive;
}
.about {
    color: blue;
}
#paragraph1 {
    color: green;
}
#love {
    color: white;
    text-align: center;
    background-color: black;
} */

body {
padding: 30px;
            }
nav {
background: red, blue; /* For Safari 5.1 to 6.0 */
background: blue; /* For Opera 11.1 to 12.0 */
background: red; /* For Firefox 3.6 to 15 */
background: linear-gradient(red, blue); /* Standard syntax (must be last) */
display: inline-block;
            }
ul, li{
margin: 0;
padding: 0;
}
 a {
color: white;
font-weight: bold;
 }
li {
list-style-type: none;
padding: 10px;
border: 1px solid white;
display: inline-block;
}