h1 {
    font-family: 'Amatic SC', cursive;
}
h2 {
    font-family: 'Kaushan Script', cursive;
}
h3 {
    font-family: 'Coming Soon', cursive;
}
div {
    font-family: 'Courgette', cursive;
}
p {
    font-family: 'Handlee', cursive;
}

font-family: 'Tangerine', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Satisfy', cursive
